<div class="row-fluid">
  <div class="col-md-9 col-md-offset-2">
    <footer>
    	<small>
      	Copyright 2014 - Zubair Desai
      </small>
      </small>
        <nav>
          <ul>
            <li><%= link_to "About", "#" %></li>
            <li><%= link_to "Contact", "#" %></li>
          </ul>
        </nav>
      </small>
    </footer>
  </div>
</div
