<%= provide(:title, "Profile - #{@account.name}") %>
<div class="row-fluid">
	<div class="col-md-9 col-md-offset-4">
		<h1>This is <%= @account.name.capitalize %>'s Profile Page!</h1>
	</div>
	<% if signed_in? && current_user?(@account)%>
	<div class="col-md-2 col-md-offset-2">
	<ul class="nav nav-pills nav-stacked">
	  <li class="active">
	    <a href="#">
	      Messages<span class="badge pull-right">32</span> 
	      <!-- @account.messages  -->
	    </a>
	  </li>
	</ul>
	</div>
	<% elsif signed_in? %>
	<h1 class="w">Works</h1>
	<% else %>
	<div class="col-md-9 col-md-offset-4">
		<h1>You must sign in to view the complete profile</h1>
	</div>
	<% end %>
</div>